.button {
    background: $dark-blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    margin-top: $m-size;
    padding: $s-size;
    text-decoration: none;
    text-align: center;
}
.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}

.button-password-reset {
    background: $dark-red;
    
    margin-top: $s-size;
}